<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.liyeyu.tasktest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 自定义权限，用于验证aidl连接,其他app必须使用这个权限才能访问 -->
    <permission
        android:name="com.liyeyu.tasktest.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal"/>
    <permission
        android:name="com.liyeyu.tasktest.permission.ACCESS_BOOK_PROVIDER"
        android:protectionLevel="normal"/>

    <!-- 使用自定义权限 -->
    <uses-permission android:name="com.liyeyu.tasktest.permission.ACCESS_BOOK_SERVICE"/>
    <uses-permission android:name="com.liyeyu.tasktest.permission.ACCESS_BOOK_PROVIDER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".BookService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.liyeyu.tasktest.permission.ACCESS_BOOK_SERVICE"
            android:process=":book">
        </service>
        <service
            android:name=".MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <provider
            android:name=".BookProvider"
            android:authorities="com.liyeyu.tasktest.book.provider"
            android:permission="com.liyeyu.tasktest.permission.ACCESS_BOOK_PROVIDER"
            android:process=":provider"/>

        <service
            android:name=".socket.TCPServerService"
            android:enabled="true"
            android:exported="true"
            android:process=":tcp_server">
        </service>
        <service
            android:name=".binder.BinderPoolService"
            android:process=":binder_pool"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>